# Python
__pycache__/
*.py[cod]
*$py.class

# Pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Entornos virtuales
.venv/
venv/
env/

# Editores
.vscode/
.idea/
*.swp
*~

# Sistema operativo
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
